#body
{
	
	margin: auto;
	margin-top: 30px;
	width: 1300px;
	height: 500px;
}

#centro
{
	
	width: 400px;
	height: 400px;
	margin-right: 3em;
	margin-top: 1.5em;
	float: left;	
}

#derecho
{
	width: 400px;
	height: 400px;
	margin-right: 3em;
	margin-top: 1.5em;
	float: left;
}

#footer

{
height: 7em;
padding-bottom: 3em;
text-align: center;
}

#footer img 
{
	height: 10em;
	width: 100%;
}



#header
{
height: 7em;
padding-bottom: 3em;
text-align: center;
}

#header img 
{
	height: 8.2em;
	width: 100%;
}

#izquierdo
{

	width: 300px;
	height: 400px;
	margin-right: 2em;
	margin-left: 2em;
	margin-top: 1.5em;
	float: left;
}

.asociados
{
	font-family: arial;
	font-size: 16px;
	text-align: justify;
}

.asociados img
{
	padding-left: 2em;
		padding-bottom: 2em;
		width: 30%;

}

.iconos img
{
		padding-left: 2em;
		padding-bottom: 2em;
		width: 46%;

}

ul li 
{
	list-style: none;
}

.miembros
{
	font-size: 16px;
	font-family: Arial;
	text-align: justify;
}

.miembros img
{
	padding-left: 2em;
		padding-bottom: 2em;
		width: 30%;

}


nav #contacto 
{
	float: right;
	margin-right: 0;
}

nav #contacto a
{
	background:#00acee;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.5em 1em;
	text-decoration: none;
}

nav
{
	background: #003366; /*BACKGROUND DEL NAV*/
	font-size: 0.9em;
	margin-bottom: 2em;
	margin-top: -2em;
}

/*SE QUITA EL LISTADO (PUNTOS)*/
nav ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li 
{
	display: inline-block;
	vertical-align: top;
	margin: 0 1em 0 3.3em; /*SEPARACIÓN ENTRE UN BOTON Y OTRO*/
}


nav ul li a 
{
	color:white;/*COLOR DE LA FUENTE*/
	display: block;
	font-family: Arial;
	padding: 0.5em 0;
	text-decoration: none;
}
