#body
{
	border: solid black 3px;
	margin: auto;
	margin-top: 60px;
	width: 1300px;
	height: 600px;
}


body
{
	font-size: 16px;
	font-family: arial;
}

.slideshow /*GALERIA DE IMGS*/
{
	float: right;
	margin-right: 14em;
	margin-top: -1.5em;

}

#asociados
{
	
	margin-left: 37em;
	width: 13%
}


#articulo
{
	
	float: right;
	text-align: justify;
	margin-right: 8em;
	width: 65%
}

#boletin
{
	float: right;
	margin-right: 20em;
	width: 35%;
}

#contenido
{
	background: #cee2f8;
	float: right;
	height: 200px;
	margin-right: 7.5em;
	width: 60%;
}

#comite_estrategico
{
	float: right;
	margin-right: 9em;
	text-align: justify;
	width: 30%;

}



#email
{
	border: solid red 2px;
	float: right;
	width: 40%;
}

#header
{
height: 7em;
padding-bottom: 3em;
text-align: center;
}

#header img 
{
	height: 8.2em;
	width: 100%;
}


#fondo img
{
	float: right;
	margin-right:13em;
	width: 60%;
}
#footer

{
height: 7em;
padding-bottom: 3em;
text-align: center;
}

#footer img 
{
	height: 10em;
	width: 100%;
}


#miembros
{
	border: solid red 4px;
	float: right;
	margin-right: 20em;
	width: 50%;
}

#pdf img
{
	float: right;
	margin: 9em 31em;
}

.imagen_item
{
	width: 16%;
}
.imagen_item img
{
	width: 100%;
}

.img1,.img2,.img3,.img4,.img5,.img6,.img7
{
	padding-left: 10em;
	width: 25%;
	
}

.img01, .img02, .img03, .img04
{
	width: 60%;
}

.iconos ul 
{
	
	width: 10%;
	list-style: none;
	
}

.iconos img
{
	
	height: 100px;
	width: 80%;
	margin: 0 0 1em 1em;


body
{
	font-size: 16px;
	font-family: arial;
}

.slideshow /*GALERIA DE IMGS*/
{
	float: right;
	margin-right: 14em;
	margin-top: 3.5em;

}

#asociados
{
	
	margin-left: 37em;
	width: 13%
}


#articulo
{
	
	float: right;
	text-align: justify;
	margin-right: 8em;
	width: 65%
}

#boletin
{
	float: right;
	margin-right: 20em;
	width: 35%;
}

#contenido
{
	background: #cee2f8;
	float: right;
	height: 200px;
	margin-right: 7.5em;
	width: 60%;
}

#comite_estrategico
{
	border: solid red 3px;
	float: right;
	margin-right: 9em;
	text-align: justify;
	width: 30%;
}



#email
{
	border: solid red 2px;
	float: right;
	width: 40%;
}

#header
{
height: 7em;
padding-bottom: 3em;
text-align: center;
}

#header img 
{
	height: 8.2em;
	width: 100%;
}

#pie 
{
	border:solid red 3px;
}
#pie  img 
{
	width: 20%
}

#fondo img
{
	float: right;
	margin-right:13em;
	width: 60%;
}
#footer

{
height: 7em;
padding-bottom: 3em;
text-align: center;
}

#footer img 
{
	height: 10em;
	width: 100%;
}


#miembros
{
	border: solid red 4px;
	float: right;
	margin-right: 20em;
	width: 50%;
}

#pdf img
{
	float: right;
	margin: 9em 31em;
}

.imagen_item
{
	width: 16%;
}
.imagen_item img
{
	width: 100%;
}

.img1,.img2,.img3,.img4,.img5,.img6,.img7
{
	padding-left: 10em;
	width: 25%;
	
}

.img01, .img02, .img03, .img04
{
	width: 60%;
}

.iconos ul 
{
	
	width: 10%;
	list-style: none;
}

.iconos img
{
	
	height: 100px;
	width: 80%;
	margin: 0 0 1em 1em;

}

.item 
{
	background: #cee2f8;
}

.titulo_item
{

	border-bottom: solid #02adea;
	float: right;
	margin-right: 2em;
	margin-top:-8em;
	width: 70%;

}

.titulo_item a
{
	color: black;
	font-family: Arial;
	font: 16px;
	text-align: justify;
	text-decoration: none;
}


nav #contacto 
{
	float: right;
	margin-right: 0;
}

nav #contacto a
{
	background:#00acee;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.5em 1em;
	text-decoration: none;
}

nav
{
	background: #003366; /*BACKGROUND DEL NAV*/
	font-size: 0.9em;
	margin-bottom: 2em;
	margin-top: -2em;
}

/*SE QUITA EL LISTADO (PUNTOS)*/
nav ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li 
{
	display: inline-block;
	vertical-align: top;
	margin: 0 1em 0 3.3em; /*SEPARACIÓN ENTRE UN BOTON Y OTRO*/
}


nav ul li a 
{
	color:white;/*COLOR DE LA FUENTE*/
	display: block;
	font-family: Arial;
	padding: 0.5em 0;
	text-decoration: none;
}




}

.item 
{
	background: #cee2f8;

}

.titulo_item
{
	border-bottom: solid #02adea;
	float: right;
	margin-right: 2em;
	margin-top:-8em;
	width: 70%;

}

.titulo_item a
{
	color: black;
	font-family: Arial;
	font: 16px;
	text-align: justify;
	text-decoration: none;
}


nav #contacto 
{
	float: right;
	margin-right: 0;
}

nav #contacto a
{
	background:#00acee;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.5em 1em;
	text-decoration: none;
}

nav
{
	background: #003366; /*BACKGROUND DEL NAV*/
	font-size: 0.9em;
	margin-bottom: 2em;
	margin-top: -2em;
}

/*SE QUITA EL LISTADO (PUNTOS)*/
nav ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li 
{
	display: inline-block;
	vertical-align: top;
	margin: 0 1em 0 3.3em; /*SEPARACIÓN ENTRE UN BOTON Y OTRO*/
}


nav ul li a 
{
	color:white;/*COLOR DE LA FUENTE*/
	display: block;
	font-family: Arial;
	padding: 0.5em 0;
	text-decoration: none;
}

#formulario
{
	border: solid red 3px;
}
